/* src/index.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1b1a1a;
  color: #ac1dac;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

